# VigiDoor 项目依赖

# 核心框架
pyyaml>=6.0
psutil>=5.9.0

# MQTT 通信
paho-mqtt>=1.6.1

# 视频处理
opencv-python>=4.8.0
# picamera2  # 树莓派专用，需要在树莓派上安装

# AI 推理
#ultralytics>=8.3.100  # YOLO，初版可选
#numpy==2.2.4 #
numpy<2

# 音频处理
sounddevice>=0.4.7  # 麦克风/喇叭
python-socketio>=5.11.2  # 远程喊话 WebSocket
websocket-client>=1.7.0  # socketio 传输
opuslib>=3.0.1  # Opus 解码

tflite-runtime==2.14.0 # YamNet 音频异常检测
scipy>=1.11.0  # 音频分析

# LED 控制
adafruit-circuitpython-neopixel
adafruit-circuitpython-neopixel-spi

# 工具库
python-dateutil>=2.8.2

# 开发工具（可选）
# pytest>=7.4.0
# black>=23.0.0
gpiozero>=1.7.0  # 树莓派 GPIO 控制